:root {

  font-family: sans-serif;
  
  background-color: #FFFFFF;
  
}

/* Reset rules */

* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

/* Common Container */

.container {

  display: flex;
  align-items: center;

  max-width: 1200px;

  margin: 0 auto;

}